@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
/**{
    border: 2px dotted red;
}*/

html{
    font-family: 'EB Garamond', serif;
}

footer{
    text-align: center;
}

/*NAVBAR*/
nav ul li{
    list-style: none;
    padding: 10px;
    text-align: center;
}

nav ul{
    margin-top: 120px;
    margin-right: 25px;
}

nav ul li a{
    text-decoration: none;
    color:#000000;
    font-size:30px;
    margin: 15px;
}

nav ul li a:hover{
    color: rgb(189, 76, 2);
}


/*LOGO*/
.logo{
    width: 70px;
    height: 70px;
}

.logo-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6%;
    max-width: 100%;

}

.logo-text h2, p{
    text-align: center;
}



/*MAIN TAGS*/

.header{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
}

.body{
    background-image: url(/07_web-personal/assets/thailand.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*HAMBURGUESA*/
#menu {
    display: none;
    background-color: white;
    height: 100%;
    z-index: auto;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

}

#menu-toggle:checked + #burger + #menu {
    display: block;
}

/*Hiding checkbox*/
[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    display: none;
}

#hamburguesa-png{
    width: 50px;
    height: 50px;
}

#burger{
    position: absolute;
    z-index: 1;

}

/*BUTTON*/
.button a{
    text-decoration: none;
    color: #000000;
    font-family: 'Cinzel', serif;
}

.button{
    height: 46px;
    width: 154px;
    border: none;
    background-color: white;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
}

.button-bottom{
    margin: 350px 50px 50px 50px;
}

.button a:hover{
    color: rgb(189, 76, 2);
}


@media only screen and (min-width:780px){
    #hamburguesa-png{
        display: none;
    }
    #menu{
        background-color: transparent;
        display: flex;
        justify-content: center;
        height: auto;
    }
    #menu-toggle:checked + #burger + #menu{
        display: inline-block;
        flex-direction: row;
    }
    nav ul{
        display: flex;
    }

    .logo-text{
        display: flex;
        flex-direction: row;
        margin-top: 15px;
    }

    .logo-text p{
        display: none;
    }

    .logo-text img{
        padding-left: 10px;
    }

    .logo{
        padding-right: 10px;
    }

    .button-bottom {
        margin: 445px 50px 50px 50px;
    }

    #contact form{
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .main-sobremi{
        display: flex;
        flex-direction: row;   
     }

     .proyecto-style{
        max-width: 375px;
    }

    
}

@media only screen and (min-width:1024px){
    .main-sobremi section{
        max-width: 63%;
    }
}

/*CONTACTO*/

.header-contacto h1{
    text-align: center;
    margin-top: 0;
    font-size: 60px;
    
}

#contact label{
    font-family:Georgia, 'Times New Roman', Times, serif;
}

#contact form{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

#contact main{
    display: flex;
    justify-content: center;
}

#contact{
    display: flex;
    flex-direction: column;
}

form *{
    padding: 12px;
    align-items: center;
}

input[type="submit"]{
    background-color: black;
    color: white;
    margin-top: 25px;
    font-family: georgia;
    width: 50%;
    align-self: center;
    border: none;
}

#main-contact{
    margin:30px;
    margin-right: 20px;
    margin-left: 20px;
}

#emoji{
    font-size: 30px;
    margin-bottom: -13px;
    margin-top: -20px;
}

.header-contacto{
    margin-left: 8px;
    margin-top: 13px;
}



/*SOBRE MI*/
.main-sobremi{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 15px;
}

.main-sobremi img{
    width: 85%;
    height: auto;
    max-width: 361px;
}

.main-sobremi a{
    color: rgb(189, 76, 2);
}

.header-sobremi{
    margin-left: 8px;
    margin-top: 13px;
}

.header-sobremi h1{
    text-align: center;
    margin-top: 0;
    font-size: 60px;
}

.main-sobremi h2{
    text-align: left;
    font-size: 30px;
}

.main-sobremi h5{
    color: #202025;
    text-align: left;
    font-size: 20px;
}

.main-sobremi p{
    color:rgb(39, 39, 39);
    text-align: left;
}

.main-sobremi section{
    box-sizing: border-box;
    padding-left: 8vw;
    padding-right: 8vw;
    width: 100%;
    line-height: 30px;
}


/*PROYECTOS*/
/*header*/
.header-proyectos{
    margin-left: 8px;
    margin-top: 13px;
}

.header-proyectos h1{
    text-align: center;
    margin-top: 0;
    font-size: 60px;
}
/*main*/
.main-proyectos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.proyecto-style{
    width: 350px;
    padding: 15px;
}

.proyecto-style h4{
    font-size: 20px;
    text-align: center;
}

.main-proyectos #foto-elefante, #foto-iran, #foto-torres{
    width: 100%;
    height: auto;
}


/*PROYECTO ELEFANTE ASIÁTICO*/
.body-proyecto-elefante{
    display: flex;
    flex-direction: column;
    margin: 30px;
}

#texto-elefante{
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 25px;
}

.main-proyecto-elefante h1{
    text-align: center;
}

.main-proyecto-elefante p{
    width: auto;
}

/*galeria de fotos*/
.gallery img{
    max-width: 100%;
    height: auto;
}

.gallery{
    margin: 0 0.65rem;
}

.gallery-item{
    height: auto;
    margin: 0.5rem;
}

.gallery-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (min-width: 640px) {
    .gallery{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 300px);
        grid-auto-flow: row dense;
    }

    .gallery-item{
        margin: 0.7rem;
    }

    .gallery-item:first-child{
        grid-row: span 1;
    }

    .gallery-item:nth-child(2){
        grid-column: 2/3;
        grid-row: span 2;
    }

    .gallery-item:nth-child(6),
    .gallery-item:nth-child(8){
        grid-row: span 2;
    }
}